[Unit]
Description=Run notes sync automatically

[Timer]
OnBootSec=2m
OnUnitActiveSec=1h
RandomizedDelaySec=5m
AccuracySec=1m
Persistent=true
Unit=git-sync-notes.service

[Install]
WantedBy=timers.target
