[Unit]
Description=Git Auto Push and Pull Service
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.local/src/git/git-sync-notes.sh

[Install]
WantedBy=default.target
