[Unit]
Description=Set screen power saver
PartOf=graphical-session.target
ConditionEnvironment=DISPLAY

[Service]
Type=exec
ExecStart=%h/.local/bin/systemd/screen_power_manager/screen_power_manager.sh
