[Unit]
Description=Apply night theme (arthur)

[Service]
Type=oneshot
ExecStart=%h/.local/bin/theme-switch arthur
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
