[Unit]
Description=Apply day theme (batman)

[Service]
Type=oneshot
ExecStart=%h/.local/bin/theme-switch batman
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
