.oh-my-zsh/

./bin/

src/
!.local/src

Media/Pictures
Media/Videos
Media/Music

.local/bin/*
!.local/bin/setup

.config/jesseduffield/lazygit/state.yml

.config/unity3d/DefaultCompany
.config/unity3d/DefaultCompany/*
.config/unity3d/Unity
.config/unity3d/Unity/*
.config/unity3d/*.log

.config/nvim/lazy-lock.json

.config/Windsurf/User
!.config/Windsurf/User/settings.json

.codeium/*
!.codeium/windsurf/
.codeium/windsurf/cascade
.codeium/windsurf/implicit
.codeium/windsurf/installation_id
!.codeium/windsurf/mcp_config.json
!.codeium/windsurf/user_settings.pb

.cursor/*
!.cursor/mcp.json
!.cursor/user_settings.pb

#claude
.claude/*
!.claude/agents
!.claude/commands
!.claude/settings.json
!.claude/history.jsonl
!.claude/projects
