[Desktop Entry]
Name=Cursor
Icon=/home/kblack0610/.local/share/cursor/cursor.png
Exec=/home/kblack0610/bin/Cursor1.0.AppImage --no-sandbox %u
Type=Application
Terminal=false
